<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <h1 class="navbar-brand"><span class="h1">@ViewBag.Title</span> </h1>
        </nav>
    </div>

    <div class="row m-1 p-1">
        <div class="col-3">
            <vc:navigation-menu></vc:navigation-menu>
        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
