@{
    ViewBag.Title = "Welcome to Online Books";
}

@model BookListViewModel
<br />

<div class="row m-1 p-1">
    
    <div class="col-sm-9">
        <h2>Avaliable Books </h2>
        <br />
       
            @foreach (var x in Model.Books) //you have to specificy what part of the model youare talking about
            {
                <partial name="ProjectSummary" model="x" />
                <br />
            }

        <br />
        <br />
        <br />
        <div page-classes-enabled="true"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary"
             page-class="btn"
             page-url-category="@Model.CurrentClassification"
             page-model="@Model.PagingInfo" page-action="Index"></div>
    </div>
</div>



